.navbar-height {
    align-items: center;
    height: 40px;
}

.quitButton{
    text-align: center;
    line-height: 3.5;
    margin-bottom: 0px; 
}

.setFlexsMiddle {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hw80{
    height: 100%;
    width: 100%;
}

.listDataWarp{
    word-wrap:break-word
}