.Navlink{
    color: black;
    
    border: 2px solid #888;
    border-radius: 10px;
    text-decoration: none;
    margin: 0px 10px;
    padding: 2vh;
}

.Navlink:hover{
    background-color: rgba(255, 255, 255, 0.5)
}

.navbar-height {
    align-items: center;
    height: 40px;
}

.quitButton{
    text-align: center;
    line-height: 3.5;
    margin-bottom: 0px; 
}

.setFlexsMiddle {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hw80{
    height: 100%;
    width: 100%;
}

.listDataWarp{
    word-wrap:break-word
}

.freshProductPage .setFlexsMiddle{
    word-wrap:break-word
}